body{
    background-color: rgb(196, 196, 196);
} 
.caminhao{
    position: absolute;
    top: 14mm;
    width: 50px;
}
.h2{
    position: absolute;
    left: 0mm;
    top: 0mm;
    bottom: 0mm;
    background-color: rgb(61, 61, 255);
    color: white;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15pt;
    padding: 30px;
    padding-top: 40px;
    height: 90px;
    width:333mm;
}
.cadastro{
    position: absolute;
    left: 25mm;
}
.save{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
    color: white;
    background-color: rgb(23, 105, 100);
    position:absolute;
    top:45px ;
    left: 25cm;
    padding: 4mm 25mm 4mm ;
    border-radius: 9px; 
    border: 2px solid rgb(23, 105, 100);   
    cursor: pointer;   
    transition: background .3s;
}
button:hover{
    background-color: rgb(116, 158, 137);
}
.funcionario{
    position: absolute;
    top: 51mm;  
}
.name{
    position: absolute;
    top: 61mm;  
}
.nascimento{
    position: absolute;
    top: 61mm; 
    left: 206mm;
}
.cpf{
    position: absolute;
    top: 70mm; 
    left:120mm;
}
.rg{
    position: absolute;
    top: 70mm;
    left: 184mm;
}
.ctps{
    position: absolute;
    top: 70mm;
    left: 245mm;
}
.naturalidade{
    position: absolute;
    top: 70mm;
    left: 2mm;
}
.cargo{
    position: absolute;
    top: 79mm;
    left: 2mm;
}
.estado{
    position: absolute;
    top: 79mm;
    left: 88mm;
}
.titulo{
    position: absolute;
    top: 79mm;
    left: 164mm;
}
.reservista{
    position: absolute;
    top: 79mm;
    left: 260mm;
}
.endereco{
    position: absolute;
    top: 87mm;
}
.bairro{
    position: absolute;
    top: 87mm;
    left: 75mm;
}
.number{
    position: absolute;
    top: 95mm;
    left: 2mm;
}
.comp{
    position: absolute;
    top: 95mm;
    left: 212mm;
}
.cel{
    position: absolute;
    top: 103mm;
}

.tel{
    position: absolute;
    top: 103mm;
    left: 70mm;
}
.email{
    position: absolute;
    top: 111mm;
    left: 2mm;
}
.obs{
    position: absolute;
    top: 119mm;
    left: 2mm;
}
input{
    font-size: 11pt;
    border: 1px solid rgb(158, 158, 158);
}
.texto1{
    width: 31cm;
}
.texto2{
    width: 17cm;
}
.texto3{
    width: 50mm ;
}
.texto4{
    width: 9cm;
}
.texto5{
    width: 5cm;
}
.texto6{
    width: 5cm;
} 
.texto7{
    width: 5cm;
}
.texto8{
    width: 7cm ;
}
.texto9{
    width: 5cm;
}
.texto10{
    width: 6cm;
}
.texto11{
    width: 5cm;
}
.texto12{
    width: 20cm;
}
.texto13{
    width: 5cm ;
}
.texto14{
    width: 20cm;
}
.texto15{
    width: 7cm;
}
.texto16{
    width: 5cm;
}
.texto17{
    width: 22cm;
}
.texto18{
    width: 22cm;
    padding-bottom:40mm;
}