body{
    background-color: rgb(216, 216, 216);
}
#two{
    position: absolute;
    top: 0mm;
    left: 0mm;
    font-size: 11pt;
    color: white;
    background-color: rgb(137, 137, 255);
    position:absolute;
    padding-top: 10%;
    padding-left: 3%;
    padding-bottom:55px;
    padding-right: 4%; 

}.imagem{
    position: absolute;
    top: 5mm;  
    left: 53mm;  
}.Cad{
    position:absolute;
    top: 20mm;
    left: 100mm;
    padding: 17mm 35mm 17mm;
    border: 1px solid none;
    border-radius:25px;
    text-decoration: none;
    color: white;
    background-color: rgb(147, 147, 255) ;
    
}.Rea{
    position:absolute;
    top: 20mm;
    left: 220mm;
    padding: 17mm 45mm 17mm;
    border: 1px solid none;
    border-radius:25px;
    color: white;
    background-color: rgb(255, 107, 107) ;
}.Est{
    position:absolute;
    top: 75mm;
    left: 100mm;
    padding: 17mm 47mm 17mm;
    border: 1px solid none;
    border-radius:25px;
    color: white;
    background-color: hsl(29, 100%, 61%) ;
}.Det{
    position:absolute;
    top: 75mm;
    left: 220mm;
    padding: 17mm 41mm 17mm;
    border: 1px solid none;
    color: white;
    border-radius:25px;
    background-color: rgb(32, 255, 170) ;
}.For{
    position:absolute;
    top: 120mm;
    left: 160mm;
    padding: 17mm 45mm 17mm;
    border: 1px solid none;
    border-radius: 25px;
    color: white;
    background-color: rgb(121, 121, 121) ;  
}
a:hover{
    background-color: rgb(224, 224, 224);
    cursor: pointer;
}
a:link{
    text-decoration: none;
    color: white;
}
body a{
    color: white;
}
.carrinho{
    position: absolute;
    top: 10mm;
    left: 6mm;
    width:19mm;
}
.cartao{
    position: absolute;
    top: 10mm;
    left: 8mm;
    width: 20mm;
}
.grafico{
    position: absolute;
    top: 10mm;
    left: 8mm;
    width: 19mm; 
}
.caminhao{
    position: absolute;
    top: 10mm;
    left: 8mm;
    width: 19mm; 
}
.emote{
    position:absolute;
    top:16mm;
    left: 10mm;
    font-size: 8mm;
}
.emote2{
    position:absolute;
    top:16mm;
    left: 19mm;
    font-size: 8mm;
}
.emote3{
    position:absolute;
    top:10mm;
    left: 14mm;
    font-size: 8mm;
}
.off{
    position: absolute;
    top: 157mm;
    left: 4mm;
    width: 6mm;
}
